<p id="notice"><%= notice %></p>

<h1>Encounters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Site</th>
      <th>Character</th>
      <th>Date</th>
      <th>Comment</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @encounters.each do |encounter| %>
      <tr>
        <td><%= encounter.user %></td>
        <td><%= encounter.monument_id %></td>
        <td><%= encounter.character_id %></td>
        <td><%= encounter.date %></td>
        <td><%= encounter.comment %></td>
        <td><%= link_to 'Show', encounter %></td>
        <td><%= link_to 'Edit', edit_encounter_path(encounter) %></td>
        <td><%= link_to 'Destroy', encounter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encounter', new_encounter_path %>
