<p id="notice"><%= notice %></p>

<p>
  <strong>[site:</strong>
  <%= @encounter.[site %>
</p>

<p>
  <strong>Site:</strong>
  <%= @encounter.site_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @encounter.comments %>
</p>

<%= link_to 'Edit', edit_encounter_path(@encounter) %> |
<%= link_to 'Back', encounters_path %>
