<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @encounter.user %>
</p>

<p>
  <strong>Site:</strong>
  <%= @encounter.monument_id %>
</p>

<p>
  <strong>Character:</strong>
  <%= @encounter.character_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @encounter.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @encounter.comment %>
</p>

<%= link_to 'Edit', edit_encounter_path(@encounter) %> |
<%= link_to 'Back', encounters_path %>
